[submodule "sonic-alpine"]
	path = sonic-alpine
	url = https://github.com/sonic-net/sonic-alpine.git
[submodule "sonic-gnmi"]
	path = sonic-gnmi
	url = https://github.com/sonic-net/sonic-gnmi.git
[submodule "opentelemetry-collector-contrib"]
	path = opentelemetry-collector-contrib
	url = https://github.com/open-telemetry/opentelemetry-collector-contrib.git
[submodule "public"]
	path = public
	url = https://github.com/openconfig/public.git
[submodule "sonic-buildimage"]
	path = sonic-buildimage
	url = https://github.com/sonic-net/sonic-buildimage.git
[submodule "sonic-mgmt"]
	path = sonic-mgmt
	url = https://github.com/sonic-net/sonic-mgmt.git
[submodule "gnmic"]
	path = gnmic
	url = https://github.com/openconfig/gnmic.git
