#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

#export DH_VERBOSE=1

PACKAGE_PRE_NAME := mrvlteralynx
KVERSION   ?= $(shell uname -r)
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR:= $(shell pwd)

%:
	dh $@ --with python3 --buildsystem=pybuild --pybuild-system=setuptools

override_dh_auto_clean:
	make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/drivers/ipd clean
	dh_clean

override_dh_auto_configure:
	# No configuration needed

override_dh_auto_build:
	sed "s/KVERSION/${KVERSION}/g" ${MOD_SRC_DIR}/debian/mrvlteralynx.install.template > ${MOD_SRC_DIR}/debian/mrvlteralynx.install
	make modules -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/drivers/ipd

override_dh_auto_test:
	# No tests to run

override_dh_usrlocal:
	# Skip dh_usrlocal because we manually install files to /usr/local/bin

override_dh_auto_install:
	# Nothing to install
